// Adaptive
@media screen and (max-width: 1000px) {
    .cover {
        width: 1000px;
    }
    .nav {
        &_menu {
            margin: 0 20px;
            ul {
                margin-top: 20px;
                li {
                    display: inline-block;
                    margin: 10px;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                    a {
                        padding-bottom: 5px;
                        position: relative;
                    }
            }
        }
    }
    .footer_search {
        form {
            margin-top: 20px;
            padding: 0;
            position: relative;
            width: 250px;
        }
    }
}
@media screen and (max-width: 768px) {
    .nav_menu_adaptive {
        display: flex;
    }

// Navigation
    .nav {
        .cover {
            width: 100%
        }
        justify-content: center;
        text-align: center;
        &_menu {
            display: none;
        }
        &_login {
            display: none;
        }
        &_menu_adaptive-link {
            display: inline-block;
            position: fixed;
            top: 20px;
            left: 25px;
            z-index: 999;
        }
        &_items {
        justify-content: space-between;
        }
        &_logo {
            img {
                width: 145px;
                position: fixed;
                right: 7%;
            }
        }
    }
    .nav_menu_box {
        span {
            display: block;
        }
    }

// About
    .about {
        &_items {
            display: flex;
            flex-direction: column;
            
        }
        &_text {
            text-align: justify;
            width: 100%;
            margin-bottom: 20px;
        }
        &_image {
            text-align: center;
            img {
                width: 75%;
            }
        }
    }

// Production
    .production {
        &_items {
            display: inline-flex;
            flex-direction: column;   
        }
        &_box {
            text-align: center;
            width: 55vw;
            margin-bottom: 25px;
            img {
                width: 220px;
            }


        };
    }

// Features
    .feature {
        &_items {
            grid-template-columns: auto;
        }
        &_box {
            flex-direction: column;
            text-align: center;
            p {
                margin-top: 40px;
            }
        }
        .item_decoration-right {
            border: none;
        }
        .item_decoration-bottom {
            border: none;
        }
    }

    .callback {
        padding-bottom: 15px;
        &_items {
            width: 80%;
            display: block;
        }
    }
    .mailing {
        padding-bottom: 15px;
        &_items {
            width: 80%;
            display: block;
        }
    }

// footer
    .footer {
        &_items {
            display: flex;
            flex-direction: column;
        }
        &_search {
            width: 100%;
            form {
                width: 60%;
                input {
                    width: 80%;
                }
                button {
                    padding: 4px 7px;
                    right: 30px;
                }
            }
        }
        &_language {
            form {
                display: none;
            }
            &_adaptive {
                display: flex;
                button {
                    margin-right: 20px;
                    transition: 0.3s;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .footer {
        &_search {
            form {
                input {
                    width: 80%;
                }
                button {
                    margin-right: -22px;
                }

            }
            
        }
    }
    
}

@media only screen and (min-width: 520px) {
	.clients_box {
		width: 50%;
	}
}

@media only screen and (min-width: 870px) {
	.clients_box {
		width: 33.333%;
	}
}

@media only screen and (min-width: 1400px) {
	.clients_box {
		width: 25%;
	}
}