@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  font-family: "Lato", sans-serif;
}
* a {
  text-decoration: none;
  color: #000;
}
* li {
  list-style: none;
  padding: 0;
  margin: 0;
}
* ul {
  margin: 0;
  padding: 0;
}
* input {
  outline: none;
}
* button {
  outline: none;
}

.cover {
  width: 80%;
}

.red_link {
  width: 80px;
  height: 2px;
  display: inline-block;
  background-color: #E2231A;
}

.button_red {
  text-transform: uppercase;
  padding: 10px 25px;
  background: #E2231A;
  color: #ffffff;
  border: none;
  border-radius: 7px;
}

.nav_menu_adaptive {
  background-color: #333E48;
  position: fixed;
  width: 40vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  left: -100vw;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
}
.nav_menu_adaptive ul {
  margin-top: 200px;
  list-style: none;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.nav_menu_adaptive ul li {
  width: 40vw;
}
.nav_menu_adaptive ul a {
  line-height: 2.8;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: block;
}
.nav_menu_adaptive ul a:hover {
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
.nav_menu_adaptive ul button {
  margin-top: 140px;
}

.nav_menu_adaptive-active {
  left: 0;
}

.nav_menu_box span {
  margin-right: 20px;
  width: 180px;
  height: 70px;
  -webkit-transform: skew(-47deg);
          transform: skew(-47deg);
  display: none;
  background: #E2231A;
  position: fixed;
  top: 0;
  left: -80px;
  overflow: hidden;
  -webkit-box-shadow: inset -4px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset -4px 0px 4px rgba(0, 0, 0, 0.25);
}

.nav_menu_adaptive-link {
  display: none;
}
.nav_menu_adaptive-link a {
  margin-top: 17px;
  font-size: 28px;
  color: #ffffff;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu-link-active {
  color: #E2231A;
}

.nav {
  z-index: 10;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav_logo {
  margin-top: 5px;
}
.nav_logo img {
  width: 145px;
}
.nav_menu {
  text-align: center;
}
.nav_menu ul {
  margin-top: 14px;
}
.nav_menu ul li {
  display: inline-block;
  margin: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.nav_menu ul a {
  padding-bottom: 5px;
  position: relative;
}
.nav_login {
  text-align: right;
  margin-top: 17px;
}

.decorate_link a::before {
  content: '';
  bottom: 0;
  left: 0;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #E2231A;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.decorate_link a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: url(../img/main-bg.png) center no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 80px;
}
.main_logo img {
  width: 250px;
}
.main_heading {
  margin-top: 50px;
  color: #ffffff;
  text-transform: uppercase;
}
.main_heading h1 {
  font-size: 36px;
  font-weight: 500;
}
.main_heading h3 {
  font-size: 24px;
  font-weight: 300;
}

.footer {
  background: #333E48;
  color: #ffffff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer h4 {
  text-transform: uppercase;
}
.footer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer_contacts li {
  font-weight: 300;
  line-height: 1.4;
}
.footer_documents li {
  margin-bottom: 4px;
}
.footer_documents a {
  color: #ffffff;
  font-weight: 300;
}
.footer_search {
  width: 30%;
}
.footer_search form {
  margin-top: 20px;
  padding: 0;
  position: relative;
  width: 95%;
}
.footer_search form input {
  padding: 0.7rem 0.8rem;
  border: none;
  width: 88%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}
.footer_search form button {
  position: absolute;
  top: 0;
  right: -10px;
  padding: 3.5px 7px;
  background-color: #E2231A;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  border: none;
}
.footer_language {
  width: 75px;
}
.footer_language form {
  margin-top: 20px;
  padding: 0;
  position: relative;
}
.footer_language form input {
  padding: 0.7rem 0.8rem;
  width: 40%;
  position: relative;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}
.footer_language form button {
  position: absolute;
  top: 0px;
  right: 0;
  padding: 11px 5px;
  background-color: #E2231A;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  border: none;
}
.footer .socials_links {
  margin-right: 50px;
}
.footer .socials_links ul li {
  display: inline-block;
  margin: 5px 2px;
}
.footer .socials_links ul li a {
  color: #ffffff;
  font-size: 32px;
}

@media screen and (max-width: 1199px) {
  .cover {
    width: 90%;
  }

  .nav_menu ul {
    margin-top: 20px;
  }
  .nav_menu ul li {
    display: inline-block;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .nav_menu ul a {
    padding-bottom: 5px;
    position: relative;
  }
}
@media screen and (max-width: 959px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .nav .cover {
    width: 100%;
  }
  .nav_menu {
    display: none;
  }
  .nav_login {
    display: none;
  }
  .nav_menu_adaptive-link {
    display: inline-block;
    position: fixed;
    top: 20px;
    left: 25px;
    z-index: 999;
  }
  .nav_items {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav_logo img {
    width: 145px;
    position: fixed;
    right: 7%;
  }

  .nav_menu_box span {
    display: block;
  }

  .footer_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer_search {
    width: 100%;
  }
  .footer_search form {
    width: 60%;
  }
  .footer_search form input {
    width: 80%;
  }
  .footer_search form button {
    padding: 4px 7px;
    right: 30px;
  }
  .footer_language form button {
    padding: 11.5px 5px;
  }
}
@media screen and (max-width: 610px) {
  .footer_search form input {
    width: 70%;
  }
  .footer_search form button {
    right: 15px;
  }
}
