// Шрифты

@font-face
    font-family: "Lato"
    src: url("../fonts/Lato-Regular.ttf") format("truetype")
    font-weight: 500
    font-style: normal
    
@font-face
    font-family: "Lato"
    src: url("../fonts/Lato-Bold.ttf") format("truetype")
    font-weight: 700
    font-style: normal

@font-face
    font-family: "Lato"
    src: url("../fonts/Lato-Light.ttf") format("truetype")
    font-weight: 300
    font-style: normal

    
    
*
    font-family: "Lato", sans-serif
    a
        text-decoration: none
        color: #000
    li
        list-style: none



// Элементы

// Цвета
    
$red: #E2231A
$black: #000000
$white: #ffffff
$dark-blue: #333E48

// кнопка

.button_red
    text-transform: uppercase
    padding: 10px 25px
    background: $red
    color: $white
    border: none
    border-radius: 8px

.red_link
    width: 80px
    height: 2px
    display: inline-block
    background-color: $red


// основная верстка

.nav
    z-index: 999
    height: 70px
    box-sizing: border-box
    position: fixed
    display: block
    top: 0
    width: 100%
    background-color: $white
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45)

    &_logo
        img
            width: 100%
    &_menu
        ul
            li
                display: inline-block
                margin: 15px
                text-transform: uppercase
                font-weight: 500
                a
                    padding-bottom: 5px
                    position: relative
    &_login
        margin-top: 18px

.decorate_link a::before
    content: ''
    bottom: 0
    left: 0
    position: absolute
    height: 2px
    width: 100%
    background-color: $red
    transition: 0.2s
    transform: scaleX(0)

.decorate_link a:hover:before
    transform: scaleX(1)



//шапка

.main
    margin-top: 70px
    text-align: center
    background: url(../img/main-bg.png) center  no-repeat
    background-size: cover
    padding-top: 50px
    padding-bottom: 80px
    &_logo
        img
            width: 250px
    &_heading
        margin-top: 50px
        color: $white
        text-transform: uppercase
        h1
            font-size: 36px
            font-weight: 500
        h3
            font-size: 24px
            font-weight: 300

//О компании

.about
    .heading
        text-align: center
        margin-bottom: 70px
    span
        img
            height: 60px
            width: 100%
    h2
        margin-top: 50px
        text-align: center
        text-transform: uppercase
        font-size: 26px
        margin-bottom: 0
    &_text
        font-size: 18px
        letter-spacing: 0.4px
        line-height: 25px
        font-weight: 500
        p
            margin-bottom: 35px
    &_image
        img
            width: 100%
    .container
        padding-bottom: 70px

// Продукция

.production
    padding-top: 50px
    padding-bottom: 70px
    background: url(../img/production-bg.png) center no-repeat
    background-size: cover
    text-align: center
    .heading
        color: $white
        text-transform: uppercase
        h2
            font-size: 26
            margin-bottom: 15px
        p
            font-weight: 300
            margin-bottom: 70px
        .red_link 
            margin-bottom: 20px
    &_box
        background-color: $white
        padding: 40px 25px 60px 25px
        height: 470px
        border-radius: 8px
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45)
        h4
            margin-top: 80px

            
        img
            width: 250px

// Видео

.video
    padding-top: 50px
    padding-bottom: 70px
    text-align: center
    .head 
        h2
            font-size: 26px
            text-transform: uppercase
            margin-bottom: 15px
        .red_link
            margin-bottom: 20px
        p
            font-weight: 300
            text-transform: uppercase
            margin-bottom: 70px

            
    




    