//Fonts
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
    
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

// Colors
$red: #E2231A;
$black: #000000;
$white: #ffffff;
$dark-blue: #333E48;

//General
* {
    font-family: "Lato", sans-serif;
    a {
        text-decoration: none;
        color: #000;
    }
    li {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    input {
        outline: none;
    }
    button {
        outline: none;
    }
}
.cover {
    width: 80%;
}
.red_link {
    width: 80px;
    height: 2px;
    display: inline-block;
    background-color: $red;
}
.button_red {
    text-transform: uppercase;
    padding: 10px 25px;
    background: $red;
    color: $white;
    border: none;
    border-radius: 7px;
    transition: all .2s
}
.button_red:hover {
    background-color: $dark-blue;
    color: $red;
}

// Adaptive Menu
.nav_menu_adaptive {
    background-color: $dark-blue;
    position: fixed;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    left: -100vw;
    transition: all .5s;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.35);
    ul {
        margin-top: 200px;
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            width: 40vw;
        }
        a {
            line-height: 2.8;
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            transition: all 0.2s;
            display: block;
        }
            text-decoration: none;
        a:hover {
                width: 40vw;
                background-color: rgba(255, 255, 255, 0.4);
                text-decoration: none;
        }
        button {
            margin-top: 140px;
        }
    }
}

.nav_menu_adaptive-active {
    left: 0
}
    
.nav_menu_box {
    span {
        margin-right: 20px;
        width: 180px;
        height: 70px;
        transform: skew(-47deg);
        display: none;
        background: $red;
        position: fixed;
        top: 0;
        left: -80px;
        overflow: hidden;
        box-shadow: inset -4px 0px 4px rgba(0, 0, 0, 0.25);
    }
}
.nav_menu_adaptive-link {
    display: none;
    a {
        margin-top: 17px;
        font-size: 28px;
        color: $white;
        transition: .5s;
        }
}
    
.menu-link-active{
    color: $red;
}

// Main Part

// Navigation
.nav {
    text-align: center;
    z-index: 10;
    height: 70px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    &_items {
        text-align: center;
        display: flex;
        justify-content: center;
    }
    &_logo {
        margin-top: 5px;
        img {
            width: 145px;
        }
    }
    &_menu {
        margin: 0px 30px;
        text-align: center;
        ul {
            margin-top: 14px;
            li {
                display: inline-block;
                margin: 15px;
                text-transform: uppercase;
                font-weight: 500;
            }
                a {
                    padding-bottom: 5px;
                    position: relative;
                }
        }
    }
    &_login {
        text-align: right;
        margin-top: 17px;
    }
    .cover {
        text-align: center;
    }
}

.decorate_link a::before {
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $red;
    transition: 0.2s;
    transform: scaleX(0);
}

.decorate_link a:hover:before{
    transform: scaleX(1);
}

//Head
.main {
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(../img/main-bg.png) center  no-repeat;
    background-size: cover;
    padding-top: 140px;
    padding-bottom: 80px;
    &_logo {
        img {
            width: 250px;
        }
    }
    &_heading {
        margin-top: 50px;
        color: $white;
        text-transform: uppercase;
        h1 {
            font-size: 36px;
            font-weight: 500;
        }
        h3 {
            font-size: 24px;
            font-weight: 300;
        }
    }
}

// Footer
.footer {
    background: $dark-blue;
    color: $white;
    padding: 15px;
    display: flex;
    justify-content: center;
    h4 {
        text-transform: uppercase;
    }
    &_items {
        display: flex;
        justify-content: space-around;
    }
    &_contacts {
        li {
            font-weight: 300;
            line-height: 1.4;
        }
    }
    &_documents {
        li {
            margin-bottom: 4px;
        }
            a {
                color: $white;
                font-weight: 300;
            }
        }
    &_search {
        form {
            margin-top: 20px;
            padding: 0;
            position: relative;
            width: 280px;
            input {
                padding: 0.7rem 0.8rem;
                border: none;
                width: 88%;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
            }
            button {
                position: absolute;
                top: 0;
                right: -10px;
                padding: 3.5px 7px;
                background-color: $red;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
                border: none ;
            }
        }
    }
    &_language {
        width: 75px;
        form {
            margin-top: 20px;
            padding: 0;
            position: relative;
            input {
                padding: 0.7rem 0.8rem;
                width: 40%;
                position: relative;
                border: none;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
            }
            button {
                position: absolute;
                top: 0px;
                right: 0;
                padding: 11px 5px;
                background-color: $red;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
                border: none;
            }
        }
        &_adaptive {
            display: none;
        }
    }

    .socials_links {
        margin-right: 50px;
        ul {
            li {
                display: inline-block;
                margin: 5px 2px;
                a {
                    color: $white;
                    font-size: 32px;
                }
            }
        }
    }
}

@media screen and (max-width: 1199px) {
    .cover {
        width: 90%;
    }
    .nav {
        &_menu {
            margin: 0 20px;
            ul {
                margin-top: 20px;
                li {
                    display: inline-block;
                    margin: 10px;
                    text-transform: uppercase;
                    font-weight: 500;
                }
                    a {
                        padding-bottom: 5px;
                        position: relative;
                    }
            }
        }
    }
    .footer_search {
        form {
            margin-top: 20px;
            padding: 0;
            position: relative;
            width: 250px;
        }
    }
}


@media screen and (max-width: 975px) {
    .nav {
        .cover {
            width: 100%
        }
        justify-content: center;
        text-align: center;
        &_menu {
            display: none;
        }
        &_login {
            display: none;
        }
        &_menu_adaptive-link {
            display: inline-block;
            position: fixed;
            top: 20px;
            left: 25px;
            z-index: 999;
        }
        &_items {
        justify-content: space-between;
        }
        &_logo {
            img {
                width: 145px;
                position: fixed;
                right: 7%;
            }
        }
    }
    
    .nav_menu_box {
        span {
            display: block;
        }
    }
    .footer {
        &_items {
            display: flex;
            flex-direction: column;
        }
        &_search {
            width: 100%;
            form {
                width: 60%;
                input {
                    width: 80%;
                }
                button {
                    padding: 4px 7px;
                    right: 30px;
                }
            }
        }
        &_language {
            form {
                display: none;
            }
            &_adaptive {
                display: flex;
                button {
                    margin-right: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .footer {
        &_search {
            form {
                input {
                    width: 70%;
                }
                button {
                    margin-right: 15px;
                }

            }
            
        }
    }
}